body {
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;

}

.Navbar {
  background-color: rgb(247, 239, 239);
  display: flex;
  justify-content: space-around;
  color: #b6d1e5;
}

.Nav_options ul {
  display: flex;
  font-size: 16px;
  list-style: none;
}

.Nav_options ul li {
  padding-left: 10px;
  padding-right: 10px;
}
.Nav_options ul li a{
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.Nav_options ul li a:hover{
  color: black;
}